@import "reset.scss";
@import "_variable.scss";
@import "_mixins.scss";
@import "_extends.scss";
@import url("https://fonts.googleapis.com/css2?family$uafamily=Montserrat:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  height: 100vh;
}

header {
  z-index: 5;
  cursor: pointer;
  position: fixed;
  display: flex;
  height: 75px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 50px;
  font-weight: 800;
  background-color: white;
  transition: linear 0.2s;
  span {
    transform: scaleX(0.75);
    &:last-child {
      margin-right: 100px;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    i {
      margin-left: 27px;
      margin-right: 35px;
      font-size: 20px;
      transform: scaleX(1.5);
    }
  }
}

.hideHeader {
  height: 60px;
  align-items: center;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: linear 0.2s;
  .header__media {
    visibility: hidden;
  }
}

main {
  padding-top: 150px;
  width: 53%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  .title__img {
    margin-bottom: 75px;
  }
  .main__header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $gray;
    .news {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 75px;
    }
  }
  .news__post {
    display: inline-block;
    justify-content: flex-start;

    span {
      font-size: 32px;

      line-height: 50px;
      font-weight: 400;
      .about {
        font-size: 18px;
        margin-right: 60px;
        font-weight: 500;
      }
    }
  }
  .news__view {
    margin-top: 30px;
    font-size: 23px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 160px;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid $gray;
  padding-top: 20px;
  padding-bottom: 20px;
  .content__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .content__title {
      font-size: 20px;
      padding-bottom: 44px;
      font-weight: 500;
    }
    .content__word {
      font-weight: 400;
      font-size: 26px;
      line-height: 44px;
      margin-bottom: 60px;
    }
  }
  img {
    padding-left: 5%;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .click__button {
    @extend %button;
    margin-bottom: 0px;
  }
}

.content__two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90%;
  justify-content: flex-start;
  img {
    cursor: pointer;
    align-self: flex-start;
    padding-left: 0%;
    padding-right: 5%;
    width: 100%;
    height: 95%;
  }
  .content__main {
    margin-left: 5%;
  }
}

.content__three {
  img {
    cursor: pointer;
    width: 100%;
    height: 85%;
  }
}

.content__four {
  img {
    cursor: pointer;
    padding-right: 5%;
  }
  .content__main {
    margin-left: 5%;
  }
}

main {
  .first__article {
    padding-top: 25px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 25px;
    border-bottom: 1px solid $gray;
    div {
      width: 95%;
      display: flex;
      flex-direction: column;
      span {
        font-size: 22px;
        &:first-child {
          font-weight: 600;
          margin-bottom: 33px;
        }
      }
      img {
        cursor: pointer;
        width: 100%;
        margin-bottom: 28px;
      }
      .article__post {
        font-weight: 400;
        line-height: 31px;
        margin-bottom: 45px;
      }
    }
    .button__house {
      display: flex;
      flex-direction: row;
    }
  }
}

.second__article {
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  span {
    &:first-child {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 45px;
    }
    &:nth-child(2) {
      width: 50%;
      line-height: 50px;
      font-size: 31px;
      font-weight: 400;
      margin-bottom: 64px;
    }
  }
  .click__button {
    margin-right: 10px;
    @extend %button;
  }
}

.third__article {
  display: grid;
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
  div {
    width: 50%;
    display: flex;
    flex-direction: column;
    span {
      font-size: 22px;
      &:first-child {
        font-weight: 600;
        margin-bottom: 33px;
      }
    }
    img {
      cursor: pointer;
      width: 100%;
      margin-bottom: 28px;
    }
    .article__post {
      font-weight: 400;
      line-height: 31px;
      margin-bottom: 45px;
    }
  }
  .button__house {
    display: flex;
    flex-direction: row;
  }
}

.fourth__article {
  div {
  }
  img {
    height: 300px;
  }
  .fourth__post {
    margin-bottom: 38px;
    line-height: 26px;
  }
  .click__button {
    margin-right: 10px;
    @extend %button;
  }
}

.fifth__article {
  padding-top: 25px;
  padding-bottom: 115px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    span {
      font-size: 20px;
      font-weight: 600;
      &:nth-child(2) {
        margin-top: 44px;
        font-weight: 400;
        line-height: 31px;
        margin-bottom: 40px;
        justify-content: flex-start;
      }
    }
    .click__button {
      margin-right: 10px;
      @extend %button;
    }
  }
}

.button__house {
  display: flex;
  flex-direction: row;
  .click__button {
    margin-right: 10px;
    @extend %button;
  }
}

footer {
  background-color: #464646;
  height: 319px;
  padding: 33px 433px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  div {
    span {
      font-size: 16px;
      font-weight: 600;
      &:first-child {
        font-size: 31px;
        font-weight: 700;
        transform: scaleX(0.7);
      }
    }
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 500;
    &:nth-child(2) {
      padding-top: 100px;
      padding-left: 20px;
    }
    &:last-child {
      padding-left: 20px;
    }
  }
}
